@font-face {
    font-family: adobe-heiti-std;
    src: url(../fonts/AdobeHeitiStd-Regular.otf);
}

body {
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: "Adobe 黑体 Std R", "Myriad Pro", 微軟正黑體, "Adobe Heiti Std R", "AdobeHeitiStd-Regular", adobe-heiti-std, sans-serif;
    margin: 0;
    animation: fadeIn 300ms ease-out;
    -webkit-animation: fadeIn 500ms ease-out;
}

body.loading:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100000;
    background-image: url('../img/loading-text.gif');
    background-repeat: no-repeat;
    background-position: center center;
}

/*-ios -*/
* {
    -webkit-overflow-scrolling: touch;
}
input {
    border-radius: 0;
    -webkit-appearance: none;    
}



a {
    color: #000;
}

strong {
    font-weight: bold;
}
#toggleSideMenu img{
    width: 22px;
}

.checkMenu table{
    border-spacing: 10px 5px;
    border-collapse: separate;
}

.checkMenu table img{
    width:15px;
}

.bg-cover {
    background-position: center;
    background-size: cover;
}

.list-item img.second-action{
    width:8px;
    height: auto;
    margin-top: -6px;
}

.full-height .list {
    margin: 0;
    padding: 0;
}

.checkMenu .list-item img.second-action{

}

.bg-contain {
    background-position: bottom center;
    background-size: contain;
}

.mainpage {
    padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.header {
    z-index: 99999;
    position: fixed;
    top: 0;
}

.header.shadow-0{
    padding: 0 10px;
}

.header ~ .view-content, header ~ .view-content {
    padding-top: 56px;
    box-sizing: border-box;
    background:#fff;
}

#header-search-group {
    height: 100%;
    min-width: 100%;
    box-sizing: border-box;
    right: 0;
    padding-left: 7.5%;
}

#header-search-group input {
    border-bottom: 0;
    background: url(../img/search_icon.png) top left no-repeat #88000e;
    background-size: 20px;
    background-position: left;
    padding: 10px 10%;
    width: 100%;
    position: static;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.84);
    outline: none;
    font-size: 1.2rem;
    margin-right: 8%;
    padding-right: 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.button-2 {
    bottom:0;position: absolute;
    display: flex;
    flex-direction: column;
}
.button-2  span{
    display:block;
    width:100%;
}
.bg-black {
    background-color: #000;
    color: #ffffff;
}

.t_center {
    text-align:center;
    margin:0 auto;
}

.flex-column {
    flex-direction: column;
    -webkit-flex-direction: column;
}

.flex-center {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-start {
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

.full-height {
    justify-content: center;
}

.splash {
    width: 40%;
}

h2 {
    font-size: 2.625rem;
    line-height: 3rem;
}
.arrow {
    width: 18px !important;
    height: 32px;
    margin-top: 12px;
}
.inputbox {
    box-shadow: none;
    box-shadow: inset 0px 0px 0px 0px #fff;
    background: #fff;
    border: none;
    font-size: 16px;
}
.bg-violet, .bg-violet:before, .bg-violet:after {

}

.switch input:checked~.check{
    background-color: #8f0004 !important;
}

.fg-violet {
    color: #8f0004 !important;
}

.bg-yellow, .bg-yellow:before, .bg-yellow:after {
    background-color: #ffe500 !important;
}

.fg-yellow {
    color: #ffe500 !important;
}

.line-bottom {
    border-bottom: 1px solid #8f0004 !important;
}

.app-logo {
    width: 182px;
}

.app-logo img {
    height: 27px;
}

.nav-button {
    text-indent: initial;
}

.sidebar-header {
    position: absolute;
    top: 56px;
    left: 0;
    transition: 200ms;
    -webkit-transition: 200ms;
    width: auto;
    min-width: 200px;
    overflow: hidden;
    border: none;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.sidebar-header.active{
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.sidebar-header.active {
    overflow-y: auto;
}

.sidebar-menu {
    padding: 0;
    border-right: 1px solid #676767;
    margin: 0;
    height: auto;
    padding-bottom: 65px;
    border-top: 0px solid #676767;
}

.sidebar-menu li {
    cursor: pointer;
    padding: 0px 10px;
    height: auto;
}

.sidebar-menu li a {
    display: table;
    width: 100%;
    text-transform: none;
}

.sidebar-menu li a span {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding: 10px 8px 10px;
    height: 50px;
    line-height: 1.5rem;
    position: relative;
    font-size: 14px;
    letter-spacing: 2px;
}

.sidebar-menu li a .switch{
    display:table-cell;
}

.sidebar-menu li a span:first-child {
    width: 35px;
    text-align: center;
    padding: 0 10px;
    text-align: left;
}

.news-notify{

}

.sidebar-menu li a span.news-notify > span, .icon-image.news-notify > span,
.sidebar-menu li a span.news-notify-count > span, .icon-image.news-notify-count > span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #960000;
    color: #fff;
    position: absolute;
    display: block;
    padding: 0;
    vertical-align: middle;
    font-size: 6pt;
    text-align: center;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 3px;
    display:none;
    line-height: 20px;
    padding-left: 2px;
}

.sidebar-menu li a span:last-child {
}

.sidebar-menu li a img {
    width: 15px;
    max-width: initial;
    padding: 0px;
}

.switch .check {
    width: 40px;
    height: 20px;
    background-color: #929292;
    border-radius: 10px;
}

.switch .check:before {
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-left: 2px;
    background-color: #ffffff !important;
    left: 0;
    top: 0;
}

.cup-container {
    width: 100%;
    /* max-width: 600px; */
    padding: 0 15px;
    height: 70%;
    background: url(../img/bg1.png) top center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.theCup {
    background-color: rgba(35, 25, 22, 0.84);
    color: #fff;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    text-align: center;
    width: 100%;
    height: auto;
}

.theCup img {
    width: 25%;
    margin-top: -20px;
    position:relative;
}

.flat-button {
    border-radius: 0;
    padding: 2.5%;
    height: auto;
    font-size: 1rem;
    width: 50%;
    text-align: center;
}

.double-button {
    display: flex;
}

.double-button a:first-child {
    margin-right: 1px;
}

.double-button a:last-child {
    margin-left: 1px;
}

.list .list-item-custom {
    padding: 10px 14px;
    height: 50%;
}
.list .list-item-custom a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.list .list-item-custom .icon-image {
    width: auto;
    height: 100%;
    max-height: 80px;
    max-width: 80px;
    min-width: 40px;
    min-height: 40px;
    position: relative;
}

.list .list-item-custom .second-action {
    width: 13px;
}
.preview {
    text-align: right;
    padding-right: 15px;
    color: #b1b1b1;
}

.icon-image.news-notify > span,
.icon-image.news-notify-count > span{
    width: 40%;
    height: 40%;
    font-size: 8pt;
    right: 0px;
    top: -4px;
}

.list .list-item-custom .icon-image img {
    height: 100%;
    width: auto;
}

.list .list-item-custom .label {
    font-size: 1rem;
    width: 65%;
}

.t_right  {
    text-align:right;
}

.list  .list-item-custom .second-action {width: 13px;}

.preview {
    text-align: right;
    padding-right: 15px;
    color: #b1b1b1;
}
.bottom-action {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30%;
    min-height: 125px;
    z-index: 2;
}
.footer_button {
    position: absolute;
    width: 100%;
    z-index: 99999;
    height: auto;
    bottom: 20%;
}
.footer_button a{
    width:100%;
}

.footer_button ul li{ 
    list-style:none;
}

.content-top {
    width: 100%;
    height: 68%;
    overflow: hidden;
}

.news-detail table, .news-detail table * {
    font-size: 0.8rem;
}

.green_right {
    font-size: 0.8rem;
}

.list-item {
    height: 45px;
}
.content-bottom {
    width: 100%;
    height: 31%;
    padding: 10px 20px;
    overflow: auto;
}

.content-bottom h3, .news-content h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

.content-bottom p, .news-content p {
    margin: 0.75rem 0;
    font-size: 0.9rem;
    word-wrap: break-word;
}

.news-content {
    padding: 1rem 1.2rem;
    overflow: auto;
}

#header-main-group {
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    padding: 0 3px;
}

#header-main-group > *{

    /* height: 30px; */

    vertical-align: middle;
    position: relative;
    margin-top: 5px;
}


.nav-back {
    text-align: left;
    float: left;
    position: fixed;
    top: 0px;
    left: 10px;
    width: 50px;
    z-index: 999999;
    vertical-align: middle;
}



.right-button {
    text-align: right;
    float: right;
    position: fixed;
    right: 0;
    top: 10px;
}
.fg-black {
    color: #000!important;
    margin: 0 auto;
    position: relative;
    width: 100%;
}


/*Use table instead flexbox!!*/
/*
#header-main-group {
    display: table;
    width: 90%;
    height:100%;
    margin: 0 auto;
}

#header-main-group > *{
    display:table-cell;
    vertical-align: middle;
    width: 33.3333%;
}

.nav-back {text-align: left;}
*/

.nav-back img {
    width: 10px;
    height: auto;
}

.nav-back span {
}

.restaurant {
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.restaurant span {
    display: block;
    margin-bottom: 7px;
}

.restaurant span.title {
    font-size: 1rem;
}

.restaurant span.address {
    font-size: 0.8rem;
    line-height: 1rem;
}

.restaurant span.phone {
    font-size: 0.8rem;
}

.restaurant span.distance {
    font-size: 0.9rem;
    color: #8f0004;
    margin-left: 30px;
}
/*-
.feed-item + .feed-item, .list-item + .list-item, .list-item-custom + .list-item-custom, .list.bordered {
    border-top: 1px #9f9fa0 solid;
}
-*/
.checkMenu .list .list-item{
    border:none;
}

.restaurant .detail{
    width: 55%;
}

.news-search {
    background:url(../img/search_bar.png) top left no-repeat #88000e;
    left: 0;
    background-size: 100%;
    background-position: 5%;
}

.news-search img {
    margin-right: 15px;
    padding: 5px;
    width: 25px;
}

.news-search .marker, .news-search .search {
    height: 35px;
    display: block;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 100%;
}

.align-left.news-search .search {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.news-search .marker > *, .news-search .search > * {
    display: inline;
    vertical-align: middle;
}

.search_txt ul li{
    list-style:none;
    display:inline-block;
    }

.search_txt ul li a{
    color:#fff;
}

.facebook-share {
    border: none;
    outline: none;
    width: 25%;
    display: block;
    height: auto;
}
.news {
    width: calc(50% - 5px);
    background: #ffffff;
    box-shadow: 0 2px 10px #ccc;
    border: 1px solid #ccc;
    padding-top: 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.news--width2 {
    width: 400px;
}

.news .card-header {
    border-radius: 0
}

.news-masonry {
    width: 100%;
}

.news-masonry span {
    font-size: 0.6rem;
    color: rgb(137, 137, 137);
}

.news-masonry .card-content, .news-masonry .card-footer {
    padding: 5px 10px;
    word-break: keep-all;
}

.news-masonry .card-footer {
    border-color: gray;
}

.news-masonry .card-content p {
    margin: 10px 0;
    word-break: break-word;
}

.news .card-footer {
    min-height: 30px;
}

.news-masonry a.clip img {
    width: 15px;
}

.ajax-loading {
    display: none;
}

.news-content h1 {
    line-height: 1.7rem;
    font-size: 1.5rem;
}

.news-content h2 {
    line-height: 1.5rem;
    font-size: 1.25rem;
}

.bg-gray-custom {
    background-color: #eeefef !important;
}

.card.image-header .card-header{
    padding:0;
    align-items: flex-start;
    border: none;
    height: auto;
}

.card.image-header .card-header img{
    width:100%;
    vertical-align: top;
}

.read {
    background:url(../img/red_s.png) top right no-repeat #FFFFFF;
}

.checkMenu {
    min-width: 100%;
}
.checkMenu td{
    line-height: 1.5rem;

}
.checkMenu .list {
    padding:0;
}

.checkMenu .list .list-item {
    border: none;
    border-bottom: 1px solid #ddd;
}

.checkMenu  .list-item .label {
    margin-top: 0px;
}
.custom-tab .bg-lightBlue{ background:#fff !important}
.custom-tab .tabs, .custom-tab .tabs .tab, .custom-tab .tabs > li{ height:auto;}
.custom-tab .bg-yellow, .custom-tab .bg-yellow::before, .custom-tab .bg-yellow::after{ background-color:#7e0813 !important;}
.custom-tab .tabs > li{ float:left; width:33.333%; color:#000; border-bottom:1px solid #e7e7e7 !important; opacity:1;}
.custom-tab .tabs > li span{ color:#7e0813}

.fb-share img {
    padding-top: 10px;
    width: 60px;
}

.checkMenu td.address{
    font-weight: bold;

}

.preview-box .list .list-item-custom .label {
    padding: 0;
}



.preview-box .list .list-item-custom a {
    padding: 0;
}

.prev-left {
    width: 30% !important;
}
.prev-right {
    width: 70% !important;
}


.txt_iGB_Member_Des {
    font-size: 0.8rem;
    line-height: 18px;
}

.txt_Gift_Card_Des {
    color: #727171;
    padding: 20px 10px;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
}

.inp_Gift_Card_PlaceHolder {
    color:#595757!important;
    border-top:0 !important;
    border-bottom:1px solid #960e0e !important;
}

.input_gift {
    height:40px;
    border-bottom:1px solid #910000;    
}
.dialog-content .inputbox {
    width:100%;
    height:40px;
    font-size:18px;
}
.dialog-title {
    margin-top: 20px;
}
.hr, hr {
    color: none;
    background-color: none;
    border: 0;
    height: auto;
}

.td-num {
    color: #B22222;
    margin: 0px;
    display: block;
    width: 50px;
    vertical-align: top; 
    font-weight:bold;
}

.td-num span{
    font-size: 16px;

}

.td-text span {
    font-size: 14px;
}
/*-
.restaurant-menu{
    width: calc(50% - 10px);
    font-size: 0.7rem;
    line-height: 0.95rem;
}


.restaurant-menu h3{

    font-size: 1rem;

    line-height: 1.2rem;

    margin: 0.5rem 0;
}


-*/


/*01-02-18 CSS=============*/
.bg-gray-custom.white{ background:#fff;}
.page-banner img{ width:100%; height:auto}
.page-banner.border{ border-bottom:1px solid #89000d}
.page-menu{ margin:0; padding:0; list-style:none;}
.page-menu:before, .page-menu:after{ content:''; display:table;}
.page-menu:after{ clear:both;}
.search-tab .bg-lightBlue{ background:#fff !important}
.search-tab .tabs, .search-tab .tabs .tab, .search-tab .tabs > li{ height:auto;}
.search-tab .bg-yellow, .search-tab .bg-yellow::before, .search-tab .bg-yellow::after{ background-color:#7e0813 !important;}
.search-tab .tabs > li{ float:left;     font-size: 0.9rem;padding: 7px 12px;width:33.333%; color:#000; border-bottom:1px solid #e7e7e7 !important;}
.page-contact-info{ padding:0 0 48px;}
.page-contact-info ul{ margin:0; padding:0; list-style:none;}
.page-contact-info ul li{ padding:15px 35px 15px 60px; position:relative; line-height:22px;}
.page-contact-info ul li img{ position:absolute; top:15px; left:15px; width: 25px;}
.page-contact-info ul li:nth-child(1):after, .page-contact-info ul li:nth-child(2):after{ background:url(../img/right-arrow.png); height:13px; width:9px; position:absolute; top:50%; margin-top:-4px; right:20px; content:'';}
.page-bottom-btn{ margin:0; padding:0; list-style:none; position:fixed; bottom:0; right:0; left:0; background:#fff;}
.page-bottom-btn li{ float:left; width:50%; text-align:center; position:relative; border-right:1px solid #c9caca;}
.page-bottom-btn li:last-child{ border-right:none;}
.page-bottom-btn li a{line-height:50px;border-top:1px solid #c9caca;text-align:center;display:block;line-height:48px;}
.page-bottom-btn li a:hover, .page-bottom-btn li a.active{background:#7e0813;color: #fff;}
.page-contactinfo{ padding:0 ;}
.page-contactinfo ul{ margin:0; padding:15px; list-style:none;}
.page-contactinfo ul li{ padding:0 0 0 40px; margin-bottom:15px; position:relative; line-height:26px;}
.page-contactinfo ul li:last-child{ margin-bottom:0}
.page-contactinfo ul li img{ position:absolute; top:0; left:0;}
.page-contactinfo ul li strong{ font-size:18px;}

.timing-list{ padding:0 15px; margin:0; list-style:none;}
.timing-list li{ padding:12px 20px 12px 0; background:url(../img/right-arrow.png) no-repeat right;}

.form-wrapper{ overflow:hidden}
.form-wrapper .row{ margin-left:-3px; margin-right:-3px;}
.form-wrapper .row:before, .form-wrapper .row:after{ content:''; display:table;}
.form-wrapper .row:after{ clear:both;}
.form-wrapper .row .col-100{ float:left; min-height:1px; width:100%; padding-left:3px; padding-right:3px;}
.form-wrapper .row .col-50{ float:left; min-height:1px; width:50%; padding-left:3px; padding-right:3px;}
.form-wrapper .row .col-30{ float:left; min-height:1px; width:33.333%; padding-left:3px; padding-right:3px;}
.form-wrapper .row .col-40{ float:left; min-height:1px; width:40%; padding-left:3px; padding-right:3px;}
.form-wrapper .row .col-60{ float:left; min-height:1px; width:60%; padding-left:3px; padding-right:3px;}


.form-field-wrap{ padding:10px; background:#fff; margin-top:6px; min-height:80px;}
.form-field-wrap label{ display:block; margin-bottom:10px; position:relative;}
.form-field-wrap label.red{ color:#7e0813; font-weight:700; margin-left:6px;}
.form-field-wrap label:before, .form-field-wrap label:after{ content:''; display:table;}
.form-field-wrap label:after{ clear:both;}
.form-field-wrap label span.error-text{ color:#7e0813; padding-left: 6px;}
.form-field-wrap label span.error-text.block{ display:block;}
.form-field-wrap label .help-div{ position:absolute; top:0;display:inline-block;}
.show-eye{ background:url(../img/show.png);height: 33px; width: 33px; margin-top: -37px; float: right; z-index: 2; position: relative;}
.hide-eye{ background:url(../img/hide.png);height: 33px; width: 33px; margin-top: -37px; float: right; z-index: 2; position: relative;}
.form-field-wrap label .custom-tooltip{ position:absolute; left:-100%; margin-left:-100%; top:100%; margin-top:12px; background:#fff; border:1px solid #d8d8d8; border-radius:6px; color:#7e0813; padding:10px; text-align:left; z-index:100; font-size:12px; line-height:15px; width:290px; display:none}
.form-field-wrap label .help{ background:url(../img/question-icon.png) no-repeat center; height:21px; width:21px; display:inline-block;  text-indent:-9999px; position:relative; z-index:10}
.form-field-wrap label .help-div .custom-tooltip:before{position:absolute; height:20px; width:20px; top:-11px; left:70px; content:''; padding:0; border-left:1px solid #d8d8d8; border-top:1px solid #d8d8d8; background-color:#fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg); z-index:-1;}
.form-field-wrap p{ margin:0; padding:0; color:#878787; line-height:21px; font-size:16px; font-weight:bold}
.form-field-wrap input[type="radio"] { display:none;}
.form-field-wrap input[type="radio"] + label.radio {color:#000; display:inline-block; margin-bottom:0; margin-right:5px; line-height:21px; margin-top:8px; display:inline-block;}
.form-field-wrap input[type="radio"] + label.radio span { display:inline-block; width:21px; height:21px; margin:-2px 4px 0 0; vertical-align:middle; background:url(../img/radio.png) top no-repeat; background-position:0 0; cursor:pointer;}
.form-field-wrap input[type="radio"]:checked + label.radio span { background:url(../img/radio.png) top no-repeat; background-position: -20px 0;}
.form-field-wrap .form-control{ background:#f8f8f8; width:100%; height:40px; padding:6px 6px; display:block; border:none; color:#000;}
.form-field-wrap select.form-control {-webkit-appearance: none;vertical-align: middle; background: #f8f8f8 url(../img/info-selection-down-grey@2x.png) no-repeat right .75rem center; background-image: none \9; -webkit-background-size:8px 6px; background-size:8px 6px;-moz-appearance: none;}
.form-field-wrap .form-control::-moz-placeholder {color: #888; opacity: 1;}
.form-field-wrap .form-control:-ms-input-placeholder {color: #888;}
.form-field-wrap .form-control::-webkit-input-placeholder {color: #888;}
.form-field-wrap .form-control::-ms-expand {border: 0; background-color: #888;}
.form-field-wrap .margin-top{ margin-top:6px;}

.form-bottom{ padding:15px 15px;}
.form-bottom input[type="checkbox"] {display:none;}
.form-bottom input[type="checkbox"] + label {color:#000;}
.form-bottom input[type="checkbox"] + label span { display:inline-block; width:18px; height:18px; margin:-1px 8px 0 0; vertical-align:middle; background:url(../img/check.png) left top no-repeat; cursor:pointer;}
.form-bottom input[type="checkbox"]:checked + label span { background:url(../img/check.png) -18px top no-repeat;}
.form-bottom a{ color:#7e0813;}
.all-error{ padding-top:10px;}
.all-error ul{ margin:0; padding:0; list-style:none;}
.all-error ul li{ color:#7e0813; margin-bottom:3px;}
.all-error ul li h5{ font-size:18px; margin:0;}

.form-wrapper input[type=submit]{ width:100%; border:none; height:50px; background:#c0c0c0; color:#fff; text-align:center; display:block; cursor:pointer;font-weight:700; font-size:20px;}
.form-wrapper input.active[type=submit]{ background:#7e0813}

.form-wrapper  .btn-next{ width:100%; border:none; height:50px; background:#c0c0c0; color:#fff; text-align:center; display:block; cursor:pointer; font-weight:700; font-size:18px;}
.form-wrapper  .btn-next{ background:#7e0813}
.form-wrapper  .btn-next span{ display:inline-block; padding-right:20px; background:url(../img/info%20next%20white%20arrow@2x.png) no-repeat right; line-height:24px; line-height:50px;}

.container.padding-tb{ padding:10px 0 60px;}
.white-block{ padding:15px; margin-bottom:5px; background:#fff;}
.white-block h6{ font-size:1rem; margin:0 0 10px;}
.white-block h6 span{ color:#009900;float: right;}
.white-block p{ color:#888888; margin:0;}
.white-block .info_content{ font-size:18px; font-weight:normal; line-height:30px;}
.white-block .info_content:before, .white-block .email:after{ content:''; display:table;}
.white-block .info_content:after{ clear:both;}
.white-block .info_content .success{ float:right;}
.white-block .info_content .success img{ width:30px; height:30px;}
.confirmation-wrapper .checkblock{ padding:15px;}
.confirmation-wrapper .checkblock p{ text-align:right; margin-bottom:18px; font-size:20px; margin:0 0 10px;}
.confirmation-wrapper .checkblock .error-text{color:#7e0813; display:block;}
.confirmation-wrapper input[type="checkbox"] {display:none;}
.confirmation-wrapper input[type="checkbox"] + label {color:#333333; position:relative; padding-left:25px; display:block;}
.confirmation-wrapper input[type="checkbox"] + label span { display:inline-block; width:18px; height:18px; margin:-1px 8px 0 0; vertical-align:middle; background:url(../img/check.png) left top no-repeat; cursor:pointer; position:absolute; top:5px; left:0;}
.confirmation-wrapper input[type="checkbox"]:checked + label span { background:url(../img/check.png) -18px top no-repeat;}
.confirmation-wrapper input[type=submit]{ width:100%; border:none; height:50px; background:#7e0813; color:#fff; text-align:center; display:block; cursor:pointer; position:fixed; bottom:0; left:0; right:0}
.confirmation-wrapper input.active[type=submit]{ background:#7e0813}
.custom-modal.dialog{ padding:15px;}
.custom-modal .dialog-title{ text-align:center; font-size:24px;}
.custom-modal .dialog-content{ text-align:center;}
.custom-modal .dialog-content p{ margin:0 0 10px;}
.custom-modal .button{width:100%; border:none; height:50px; background:#7e0813; color:#fff; text-align:center; display:block; cursor:pointer; border-radius:0}

.login-form{ padding:15px 0 10px;}
.login-form .form-group{ margin-bottom:15px;}
.login-form .form-control{ background:#fff; width:100%; height:40px; padding:6px 15px; display:block; border:none; color:#000; border-top:1px solid #89000d;border-bottom:1px solid #89000d;}
.login-form .form-control::-moz-placeholder {color: #000; opacity: 1;}
.login-form .form-control:-ms-input-placeholder {color: #000;}
.login-form .form-control::-webkit-input-placeholder {color: #000;}
.login-form .form-control::-ms-expand {border: 0; background-color: #000;}
.login-form input[type="checkbox"] {display:none;}
.login-form input[type="checkbox"] + label {color:#000;margin-left: 15px;}
.login-form input[type="checkbox"] + label span { display:inline-block; width:18px; height:18px; margin:-1px 8px 0 0; vertical-align:middle; background:url(../img/check.png) left top no-repeat; cursor:pointer;}
.login-form input[type="checkbox"]:checked + label span { background:url(../img/check.png) -18px top no-repeat;}
.login-form  button[type=submit]{ width:100%; border:none; height:50px; background:#89000d; color:#fff; text-align:center; display:block; cursor:pointer; position:relative;}
.login-form  button[type=submit]:after{ background:url(../img/spendingrecordnext@2x.png); background-size:100% 100%; height:24px; width:15px; position:absolute; right:30px; top:50%; margin-top:-12px; content:''}
.login-form  button[type=submit]:before{ background:url(../img/login_check.png); background-size:100% 100%; position:absolute; top:60%; height:30px; width:30px; content:''; left:20px; margin-top:-20px;}
.forgot-link{ text-align:center; padding-top:10px;}
.forgot-link a{ color:#333;}

.custom-modal .dialog-content label{ margin-bottom:15px; border-bottom:1px solid #89000d; padding:0 15px; margin-left:-15px; margin-right:-15px; display:block; padding-bottom:12px; text-align:left;}
.custom-modal .dialog-content .form-group{ margin-bottom:15px;}
.custom-modal .dialog-content .form-control{ background:#fff; width:100%; height:50px; padding:6px 15px; display:block; border:none; color:#89000d; text-align:center; border:1px solid #89000d;}
.custom-modal .dialog-content .form-control::-moz-placeholder {color: #89000d; opacity: 1;}
.custom-modal .dialog-content .form-control:-ms-input-placeholder {color: #89000d;}
.custom-modal .dialog-content .form-control::-webkit-input-placeholder {color: #89000d;}
.custom-modal .dialog-content .form-control::-ms-expand {border: 0; background-color: #89000d;}
.custom-modal .dialog-content .button{ width:100%; border:none; height:50px; background:#89000d; color:#fff; text-align:center; display:block; cursor:pointer; position:relative; line-height:50px;}
.custom-modal .dialog-content .button:after{  background-size:100% 100%; height:24px; width:15px; position:absolute; right:30px; top:50%; margin-top:-12px; content:''}
.custom-modal .dialog-content a.button{ margin-top:24px;}

.container.padding-bottom{ padding-bottom:48px;}
.page-heading{ padding:15px 15px 10px;  background:url(../img/memeberbg@2x.png);background-size:cover ;}
.page-heading h2{ margin:0; padding:0 0px; font-size:22px; font-weight:normal;}
.custom-table .table td, .custom-table  .table th{ padding:5px; line-height: 14px;text-align:center; font-weight:normal; font-size:12px;}
.custom-table .table th{ background:#dbdcdc; word-break: keep-all;}
.custom-table .table td{ border-bottom:1px solid #b9b8b8}

.dot-navi{ margin:0; padding:15px 0; text-align:center; line-height:0;}
.dot-navi li{ margin:0 ; height:10px; width:10px; cursor:pointer; display:inline-block; border:1px solid #89000d; border-radius:20px; text-indent:-9999px;}
.dot-navi li.active{ background:#89000d}
.custom-table .bx-controls-auto{ display:none;}
.custom-table .bx-wrapper .bx-controls-auto, .custom-table .bx-wrapper .bx-pager,
.custom-table .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager
{ width:100%; position:relative; bottom:auto; left:auto; right:auto; text-align:center; margin:0px 0 20px 0; padding:0;}

.cupon-wrapper{ padding:15px;}
.cupon-wrapper .cupon{ margin-bottom:15px; border:1px solid #dadada; border-left:4px solid #890e10; position:relative; padding:5px 0; position:relative;}
.cupon-wrapper .cupon:after{ background:url(../img/half-circle.jpg); height:39px; width:20px; top:50%; margin-top:-20px; right:-1px; z-index:10; content:''; position:absolute;}
.cupon-wrapper .cupon .cupon-info {
    position: relative;
    padding: 0 0 0 0px;
    min-height: 80px;
    margin: 0 5px;
    border-bottom: 1px solid #c7c9c8;
    padding-bottom: 0px;
    margin-bottom: 8px; 
}
.cupon-wrapper .cupon .cupon-info .cupon-logo {
    position: relative;
    left: 0px;
    top: 0;
    width: 50%;
    float: left;
    padding: 5px;
}
.cupon-box {
    width: 25%;
    float: left;
    margin-left: 10px;
}
.coupon1 .page-bottom-btn li {
    width: 100%;
}
.coupon-date {color:#890f0e;}
.cupon-wrapper .cupon .cupon-info h4{ margin:0; padding:12px 0 25px; min-height:30px; font-weight:400;font-size:17px; line-height:17px;}
.cupon-wrapper .cupon .cupon-info h6{ margin:0; padding:0; font-weight:400; font-size:12px; line-height:15px;}
.cupon-wrapper .cupon .cupon-info p{ margin:0; padding:0; font-size:11px;} 
.cupon-wrapper .cupon .text-right{ text-align:right; padding:0 15px;}
.cupon-wrapper .cupon .text-right a {
    display: inline-block;
    padding: 2px 8px 0;
    lor: #fff;
    background: #890f0e;
    color: #fff;
    border-radius: 4px;
    font-size: 11px;
    line-height: 20px;
}.coupon-btn {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
} 
.coupon-btn li {
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
    border-right: 1px solid #c9caca;
    list-style: none;
}
.coupon-btn li a {
    line-height: 50px;
    border-top: 1px solid #c9caca;
    text-align: center;
    display: block;
    line-height: 48px;
}
.coupon-btn li:last-child {
    border-right: none;
}
.border-red {
    border: #890f0e 1px solid;
}



.used-cupon-list{ padding:0;}
.used-cupon-list .table td{border-bottom:1px solid #c7c9c8; padding:25px 10px;}
.used-cupon-list .table td:first-child{ width:68%; padding-right:5px;}
.used-cupon-list .table td:last-child{ text-align:right; width:32%; padding-left:5px;}
.used-cupon-list .table td a.more-link{ background:url(../img/homenext@2x.png) no-repeat right; background-size:8px 14px; color:#890f0e; display:inline-block; padding-right:15px;}

.cuponDetails{ padding:15px;}
.cupon-details{ margin:0; border:1px solid #dadada; padding:25px 0; position:relative;}
.cupon-details:after{ background:url(../img/half-circle.jpg); height:39px; width:20px; top:57px; right:-1px; z-index:10; content:''; position:absolute;}
.cupon-details .cupon-info { position:relative; min-height:80px; margin:0; border-bottom:3px dashed #231916; padding-bottom:25px; padding-left:130px; padding-right:15px; margin-bottom:8px;}
.cupon-details .cupon-info .cupon-logo{ position:absolute; left:20px; top:0;}
.cupon-details .cupon-info h4{ margin:0; padding:16px 0 30px; min-height:30px; font-weight:400; font-size:17px; line-height:17px;}
.cupon-details .cupon-info h6{ margin:0; padding:0; font-weight:400; color:#88000e; line-height:13px;}
.cupon-details .cupon-info p{ margin:0; padding:0; font-size:12px; color:#88000e} 
.cupon-details .barcode{ padding-top:25px; padding-bottom:15px; text-align:center; color:#88000e}
.cupon-details .barcode h3{ margin-top:0; padding-bottom:0; font-weight:400}
.cupon-full-info{ margin:20px 0 0 0; padding:0;}
.cupon-full-info h5{color:#88000e; font-size:13px; margin:0;}
.cupon-full-info p{ line-height:18px; font-size:14px;}
.notifylist .cupon-wrapper .cupon:after{ background:url(../img/next@2x.png) no-repeat; height:25px; width:20px; top:50%; margin-top:-20px; right:10px; z-index:10; content:''; position:absolute;}

.notifylist .cupon-wrapper {
    padding: 0;
}

.notifylist .cupon-wrapper .cupon {
    margin-bottom: 10px;
    border-bottom: 1px solid #dadada;
    border-left:0;
    border-top:0;
    border-right:0;
    padding: 35px 0;
}

.notifylist .cupon-wrapper .cupon .cupon-info {
    padding: 0 0 0 120px;
    margin: 0 15px;
    border-bottom: 0;
}

.notifylist .cupon-wrapper .cupon .cupon-info h4 {
    margin-right: 10px;
}

.sp-table span , .sp{
    /*font-size:14px !important;*/
}
.promo-intro {
    font-size:14px;
    padding:6px 0;
}
.sp-title {
    color: #B22222;
}

.sp img:first-child {
    margin-left:0!important;
}


.reservation-msg{ padding:10px; color:#7e0813; text-align:center; font-weight:bold; font-size:14px;}
.reservation-msg a{ text-decoration:underline; color:#7e0813}
.calender-wrapper{ padding:15px; background:#fff;}
.calender-wrapper .calendar-content .days-inner, .calender-wrapper .calendar{ width:auto}
.calender-wrapper .calendar-header, .calender-wrapper .calendar-footer{ display:none;}
.calender-wrapper .calendar-content .month-days > .day.selected{ background:#7e0813; color:#fff;}
.calender-wrapper  .calendar-content .month-days > .today{ color:#7e0813}
.calender-wrapper .calendar-content .month-days > .day{ border-radius:0;}
.calender-wrapper  .calendar-content .month-days{ border-bottom:1px solid #eee}
.calender-wrapper  .calendar-content .month-days:last-child{ border-bottom:none}
.calender-wrapper  .calendar-content .month-days > .day{ border-right:1px solid #eee; font-size:16px; color:#696e7b}
.calender-wrapper  .calendar-content .month-days > .day:last-child{ border:none;}
.calender-wrapper .calendar-content{ padding:0; background:#f5f6f7}
.top-bar { margin-bottom:10px;}
.top-bar p{ float:left; color:#7e0813; margin:0; padding:0; font-weight:bold; font-size:17px;}
.bottom-bar{ margin-top:10px; color:#7e0813; font-weight:bold; font-size:17px;}
.time-picker{ margin-top:15px;}
.time-picker h6{ color:#7e0813; font-size:16px; margin:0 0 5px 0}
.time-picker input[type="radio"] {display:none;}
.time-picker  input[type="radio"] + label {color:#000;font-size:16px; font-weight:700; padding:10px 10px 5px;margin-left:15px; margin-top:8px; display:inline-block;}
.time-picker input[type="radio"] + label span {display:none;}
.time-picker input[type="radio"]:checked + label span {}
.time-picker input[type="radio"]:checked + label{ background:#7e0813; color:#fff;}

.reservation-confirmation-table{ padding:10px;}
.table{ background:none;}
.table td, .table th{ padding:5px; width:50%; color:#000; font-weight:bold; font-size:16px;}
.table td:last-child{ text-align:right;}

.form-field-wrap input[type="checkbox"] {display:none;}
.form-field-wrap input[type="checkbox"] + label {color:#333333; position:relative; padding-left:25px; display:inline-block; width:30%; font-weight:bold; font-size:16px;}
.form-field-wrap input[type="checkbox"] + label span { display:inline-block; width:18px; height:18px; margin:-1px 8px 0 0; vertical-align:middle; background:url(../img/check.png) left top no-repeat; cursor:pointer; position:absolute; top:5px; left:0;}
.form-field-wrap input[type="checkbox"]:checked + label span { background:url(../img/check.png) -18px top no-repeat;}
p.red{ margin:0; padding:5px 0;  color:#7e0813; font-weight:bold; font-size:16px;}


bx-wrapper{position:relative;margin-bottom:60px;padding:0;-ms-touch-action:pan-y;touch-action:pan-y;box-shadow:0 0 5px #ccc;border:0;background:#fff}.bx-wrapper img{max-width:100%;display:block}.bxslider{margin:0;padding:0}ul.bxslider{list-style:none}.bx-viewport{-webkit-transform:translateZ(0);}.bx-wrapper .bx-controls-auto,.bx-wrapper .bx-pager{position:absolute;bottom:-30px;width:100%}.bx-wrapper .bx-loading{min-height:50px;background:url(images/bx_loader.gif) center center no-repeat #fff;height:100%;width:100%;position:absolute;top:0;left:0;z-index:2000}.bx-wrapper .bx-pager{line-height: 15px;text-align:center;font-size:.85em;font-family:Arial;font-weight:700;color:#666;padding-top:20px}.bx-wrapper .bx-pager.bx-default-pager a{background:#fff; border:1px solid#89000d;text-indent:-9999px;display:block;width:10px;height:10px;margin:0 5px;outline:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}.bx-wrapper .bx-pager.bx-default-pager a.active,.bx-wrapper .bx-pager.bx-default-pager a:focus,.bx-wrapper .bx-pager.bx-default-pager a:hover{background:#89000d}.bx-wrapper .bx-controls-auto .bx-controls-auto-item,.bx-wrapper .bx-pager-item{display:inline-block;vertical-align:bottom}.bx-wrapper .bx-pager-item{font-size:0;line-height:0}.bx-wrapper .bx-prev{left:10px;background:url(images/controls.png) 0 -32px no-repeat}.bx-wrapper .bx-prev:focus,.bx-wrapper .bx-prev:hover{background-position:0 0}.bx-wrapper .bx-next{right:10px;background:url(images/controls.png) -43px -32px no-repeat}.bx-wrapper .bx-next:focus,.bx-wrapper .bx-next:hover{background-position:-43px 0}.bx-wrapper .bx-controls-direction a{position:absolute;top:50%;margin-top:-16px;outline:0;width:32px;height:32px;text-indent:-9999px;z-index:9999}.bx-wrapper .bx-controls-direction a.disabled{display:none}.bx-wrapper .bx-controls-auto{text-align:center}.bx-wrapper .bx-controls-auto .bx-start{display:block;text-indent:-9999px;width:10px;height:11px;outline:0;background:url(images/controls.png) -86px -11px no-repeat;margin:0 3px}.bx-wrapper .bx-controls-auto .bx-start.active,.bx-wrapper .bx-controls-auto .bx-start:focus,.bx-wrapper .bx-controls-auto .bx-start:hover{background-position:-86px 0}.bx-wrapper .bx-controls-auto .bx-stop{display:block;text-indent:-9999px;width:9px;height:11px;outline:0;background:url(images/controls.png) -86px -44px no-repeat;margin:0 3px}.bx-wrapper .bx-controls-auto .bx-stop.active,.bx-wrapper .bx-controls-auto .bx-stop:focus,.bx-wrapper .bx-controls-auto .bx-stop:hover{background-position:-86px -33px}.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{text-align:left;width:80%}.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{right:0;width:35px}.bx-wrapper .bx-caption{position:absolute;bottom:0;left:0;background:#666;background:rgba(80,80,80,.75);width:100%}.bx-wrapper .bx-caption span{color:#fff;font-family:Arial;display:block;font-size:.85em;padding:10px}

/*CSS=============*/

.success-text {
    color:#00a212;
}
.bg-gray-custom li {
    border-top: 0!important;
    line-height: 40px;
    padding-left: 20px;
}
.p25 {
    padding: 0 0 25px 0;
}
.p_l_28 { 
    padding-left: 28px !important;
}

.btn_red {
    padding: 10px 0;
    font-size: 24px;
}
.login2-table table{
     border-spacing: 0px; 
}
.login2-table th, td { padding: 0px; } 
.button_login2 {
    background:url(../img/login-2-bar.png) top left no-repeat #89000d;
    left: 0;
    background-size: 100%;
    width: 100%;
    border: none;
    height: 60px;
    display: inline-block;
    cursor: pointer;
    position: relative;  
    z-index:999; 
    background-position: center;
}

.accordion-item .item-header:after {
    content: url(../img/icon_down.png);
    position: absolute;
    margin-right: 0px;
    margin-top: 12px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    float: right;
    font-size: 0;
}
.accordion-item.active .item-header:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: -webkit-transform .3s;
    transition: transform .3s;
    top:-15%;
    position: absolute;
}

#description .page-contact-info{
    padding-left: 10px;
    padding-right:10px;
    padding-top: 10px;
    /*-word-break: keep-all; -*/
}
.page-contact-info iframe{
    width: 100%;
    height:300px;
    border:none;


}

.page-bottom-btn li a#resReserved{
    color: #ddd;
}
.page-contact-info .line {
    border-bottom: 1px solid #ddd;
}

.member_action{
    height: calc(50% - 60px);
}

.member_action table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
/*-
.member_action table td{
    vertical-align: middle;
    border: 1px solid #d2b288;
    padding: 25px;
    border-top: none;
}
-*/

.member_action table tr:last-child td{
    border-bottom: none;
}

a.submit{
    width: 100%;
    border: none;
    height: 60px;
    background: #89000d;
    color: #fff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
    line-height: 60px;
    padding: 0 30px;
}

a.submit img {
    position: absolute;
    top: 20%;
    height: 40px;
    width: 40px;
    content: '';
    left: 30px;
}

a.submit:after {
    /*-background: url(../img/spendingrecordnext@2x.png);-*/
    background-size: 100% 100%;
    height: 24px;
    width: 15px;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -12px;
    content: '';
}
/*-
.member_action table td img{width: 65px;height: 65px;}
.member_action table td span{
    white-space: pre-line;
    display:inline-block;
    width: 50%;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.2rem;
}
-*/

.info {
    font-size: 0.8rem;
}

.member_info {
    width: 100%;
    background-size: contain;
    background-repeat: repeat;
    height: 50%;
    text-align:center;
    -webkit-border-radius: 10px 10px 0 0;
}

.member_info .info p {
    white-space: pre-line;
    font-size: 14px;
    margin: 0;
    line-height: 22px;
}

.member_info img {
    width: 120px;
    margin-top: -40px;
    height: 230px;
    width: auto !important;
}

.member_info h3 {
    margin-top:0;
}
.accordion-item .item-content {
    font-size: 13px;
    padding: 5px 10px;
    background: #fafafa;
}
.item-content{
    color:#89000d;
}


.page-heading-bg {
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.redeem-masonry h5 {
    text-align: center;
    color: #900019;
    letter-spacing: 2px;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    position: relative;
}    

.redeem-masonry img{
    padding-bottom:15px;
}

.redeem_line {
    padding: 5px 5px 0 5px;
    top: 4px;
    position: relative;
}
.txt_Enough_Point {
    margin-top: 15px;
}

.html-content-sp {
    padding: 15px;
}
.sp-title {
    padding-bottom: 10px;
    margin:0;
}
.html-content-sp h1 span {
    color: #880000;
    padding-bottom:2px;
    border-bottom:1px solid #880000;
    margin-bottom:5px;
}
.tg tr, .tg td {
    border:1px solid #910000;
}
/*-common -*/

.t_left {
   text-align:left;
}

.m_12 a{
   padding-top:11px !important;
}

.m_03 {
   margin: 0 -3px;
}

.p_t_3 {
   padding-top: 3%;
}

.p_b_3f0 {
   padding-bottom: 30px;
}

::-webkit-scrollbar {
display: none;
}

.link_red {
   text-decoration:underline;
}

.pre_border {
   border-bottom: 1px solid #d8d8db;
}

@media all and (max-width: 768px) {
}

@media all and (max-width: 640px) {
}

@media all and (max-width: 480px) {
}

@media all and (max-width: 322px) {

    .page2contain {
        background-size: cover;
    }

 
    /*-
    .member_action table td {
    vertical-align: middle;
    border: 1px solid #d2b288;
    padding: 12px 15px;
    border-top: none;
    -*/
}
.bx-viewport{height: 350px !important;
}
/*-
.list .list-item-custom a{
    padding: 4% 5%;
}
*/
}


@media all and (min-width: 321px) {
.member_action table td {
    padding: 20px;
}

}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
    .theCup img {
        width: 20%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 480px) {
    .cup-container {
        padding: 20px 15px;
    }

    .theCup img {
        width: 15%;
    }

    .news-search .marker, .news-search .search {
        margin: 0 2%;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) {
    .theCup img {
        width: 100px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
    .theCup img {
        width: 100px;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) {
    .theCup img {
        width: 120px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-height: 1024px) {
    .theCup img {
        width: 60px;
    }
}

/*- iPhone X -*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
.bottom-action {
    height: 195px;
    min-height: 23%;
}    
.page-contact-info iframe {
    height: 400px;
}
.bx-viewport {
    height: 590px !important;
}
.member_action {
    height: calc(40% - 60px);
}
.member_info {
    height: 61%;
}
.member_info img {
    height: 250px;
}
/*-
.list .list-item-custom a {
    display: flex;
    padding: 5% 5%;
}    
-*/
.sidebar-menu {
    margin-bottom: 30px;
}
.cup-container {
    height: 75%;
}
.header, header {
    height: 76px;
    border-bottom: 1px solid #676767;
}  
.shadow-0 {
    height: 56px;
}
.sidebar-header {
    height: auto;
    margin-top: 20px;
}

    }
/*- iPhone 8 -*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) { }
    
/*- iPhone 8 Plus -*/ 

@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) { }   


@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-opacity: 0;
    }

    to {
        opacity: 1;
        -webkit-opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-opacity: 0;
    }

    to {
        opacity: 1;
        -webkit-opacity: 1;
    }
}

button.facebook-share {
    margin-top: -10px !important;
}
button.facebook-share a.fb-share {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
button.facebook-share a.fb-share img {
    margin-top: 0px !important;
}