<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

  <title>GB LIFE</title>
  <link rel="stylesheet" href="vendors/coreCss/css/core-colors.min.css">
  <link rel="stylesheet" href="vendors/coreCss/css/core-icons.min.css">
  <link rel="stylesheet" href="vendors/coreCss/css/core.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="cordova.js"></script>
  <script src="vendors/jQuery/jquery-1.12.4.min.js"></script>
  <script src="assets/js/masonry.pkgd.min.js"></script>
  <script src="vendors/coreCss/js/core.min.js"></script>
  <script src="common.js"></script>
  <!--<script src="phonegap.js"></script>-->
  <title>gBApp</title>

  <script>
    var parseQueryString = function (url) {
      var urlParams = {};
      url.replace(
        new RegExp("([^?=&]+)(=([^&]*))?", "g"),
        function ($0, $1, $2, $3) {
          urlParams[$1] = $3;
        }
      );

      return urlParams;
    };
  </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125098099-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125098099-1');
    </script>

</head>

<body>
  <div class="ajax-loading" style="display: none">
    <div class="flex-center full-screen">
      <div data-role="progress" data-type="circle" data-size="32" data-radius="10" data-bar-color="st-red"></div>
    </div>
  </div>
  <div class="app">
    <header class="header bg-white shadow-0">

      <div class="header-container align-center" id="header-main-group">
        <a href="#" class="nav-back">
          <img src="assets/img/page1@2x.png"> </a>
        </a>
        <span class="fg-black">我的優惠卷</span>
        <button class="bg-white right-button" style="visibility: hidden;">
          <span class="i-search icon fg-violet"></span>
        </button>
      </div>

    </header>
    <div class="view-content">
      <div class="container container-white">
        <div class="cuponDetails">
          <div class="cupon-details">
            <div class="cupon-info">
              <div class="cupon-logo">
                <img src="assets/img/cupon-logo.png" alt="">
              </div>
              <h4>iCAN啤酒兌換券</h4>
              <h6>使用期限</h6>
              <p>2017/11/20~2018/11/20</p>
            </div>
            <div class="barcode">
              <h3>活動條碼</h3>
              <img src="assets/img/barcode.png" alt="">
            </div>
          </div>

          <div class="cupon-full-info">
            <h5>活動說明</h5>
            <p>
              至指定門市購買 iCAN兌換套券（6入），限定優惠 5 折～
              <br> 優惠價只要NT$990（原價NT$1,980)
              <br> 歡慶暢飲HOLIDAY！
            </p>
            <p>
              販售地點：
              <br> 台北信義店 （台北市信義區松壽路11號2F - 信義新天地A11館2F）
              <br> 台北敦北店 （台北市松山區敦化北路102號1F）
              <br> 台中新光店 （台中市西屯區台灣大道三段301號13F - 新光三越13F）
            </p>
          </div>

        </div>

      </div>

      <script>
        jQuery(document).ready(function ($) {

          $('.news-masonry').fadeOut('fast');

          var template =

            '<div class="card news image-header">' +
            '<a class="card-header fg-white" href="<%this.url%>">' +
            '<img src="<%this.img%>">' +
            '</a>' +
            '<div class="card-content">' +
            '<p class="fg-black"><a href="<%this.url%>"><%this.title%></a></p>' +

            '</div>' +
            '<div class="card-footer">' +
            '<span><%this.date%></span>' +
            '<span><a href="#" class="clip"><img src="assets/img/newsclip@2x.png"></a></span>' +
            '</div>' +
            '</div>';


          $.ajax({
            url: 'https://www.gbarestaurants.com.tw/icms/api/news/list',
            type: 'POST',
            dataType: 'json',
            data: {
              lang: localStorage.lang,
              page: 1,
              //limit: 6,
              kind: 'all'
            },
            success: function (data) {

              if (typeof data.list === undefined || data.list.length == 0) {
                $('.news-masonry').append('<div class="full-screen flex-center"><p>No entries found</p></div>');

                return false;
              }

              $(data.list).each(function (i, o) {


                var options = { year: 'numeric', month: 'long', day: 'numeric' };



                var $item = this;
                var html = coreTemplate(template, {
                  url: "news-detail.html?id=" + $item.id + '&img=' + $item.img,
                  brief: $item.brief,
                  id: $item.id,
                  title: $item.title,
                  img: $item.img,
                  date: new Date($item.date).toLocaleDateString('zh-tw', options),
                });

                $('.news-masonry').append(html);
              });


              setTimeout(function () {

                $('.news-masonry').fadeIn('fast');

                $('.masonry').masonry({
                  // options
                  itemSelector: '.news',
                  columnWidth: $('.container').width() / 2 - 5,
                  gutter: 10,
                  fitWidth: true,
                  initLayout: true,
                  resize: true
                });



              }, 1000);



            }
          })
        });
      </script>

    </div>
    <script>

      $('#searchButton').on('click', function () {
        var b = $(this);

        if (b.attr('id') == 'searchButton') {
          $("#header-search-group").fadeIn('fast');

          $('header .marker, header .search span').hide(100);

          $('.news-search').addClass('align-left');

          $('.search').animate({
            width: '100%',
            margin: 0
          }, 300);

          $(".search-in-list").focus();
        }
      });

      /*$('.search-in-list').blur(function () {
          $('.marker').animate({
              width: 'initial',
              opacity: 1
          }, 500);
  
          $('.search').animate({
              width: 'initial'
          }, 500);
  
          $("#header-search-group").hide();
      });*/

      $('#toggleSideMenu').click(function () {
        $(this).toggleClass('transform');


        if ($('#header-menu-group').hasClass('active')) {
          $('#header-menu-group').removeClass('active');
          $('#header-menu-group').animate({
            height: '0px',
          }, 1, function () {
            $('#header-menu-group').css({ overflow: 'hidden' })
          });
        }
        else {
          $('#header-menu-group').addClass('active');




          $('#header-menu-group').animate({
            height: window.innerHeight,

          }, 1, function () {
            $('#header-menu-group').css({ overflow: 'auto' })
          });
        }
      });



      $('.ajax-click').click(function (e) {
        e.preventDefault();
        var container = $(this).data('container') ? $(this).data('container') : '.view-content';
        $(container).load($(this).data('link'));

      });



      $(document).bind("ajaxSend", function () {
        $('.ajax-loading').fadeIn('fast');
      }).bind("ajaxComplete", function () {
        $('.ajax-loading').fadeOut('fast');
      });

      $('.nav-back').click(function (e) {
        e.preventDefault();
        window.history.back();
      });


    </script>
</body>

</html>