<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="viewport-fit=cover, user-scalable=yes, initial-scale=1, minimum-scale=1, width=device-width">

    <title>GB LIFE</title>
    <link rel="stylesheet" href="vendors/coreCss/css/core-colors.min.css">
    <link rel="stylesheet" href="vendors/coreCss/css/core-icons.min.css">
    <link rel="stylesheet" href="vendors/coreCss/css/core.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="cordova.js"></script>
    <script src="vendors/jQuery/jquery-1.12.4.min.js"></script>
    <script src="assets/js/masonry.pkgd.min.js"></script>
    <script src="vendors/coreCss/js/core.min.js"></script>
    <script src="assets/js/underscore.js"></script>
    <script src="assets/js/zoom.js"></script>
    <script src="common.js"></script>
    <script type="text/javascript" src="http://hammerjs.github.io/dist/hammer.min.js"></script>
    <script>
        var parseQueryString = function (url) {
            var urlParams = {};
            url.replace(
                new RegExp("([^?=&]+)(=([^&]*))?", "g"),
                function ($0, $1, $2, $3) {
                    urlParams[$1] = $3;
                }
            );

            return urlParams;
        },
            options = { enableHighAccuracy: true };

        function onError(error) {
            alert(error.code + error.message);
        }

    </script>
    <style>
        .restaurant-menu.large {}
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125098099-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125098099-1');
    </script>
</head>

<body>
    <div class="ajax-loading" style="display: none">
        <div class="flex-center full-screen">
            <div data-role="progress" data-type="circle" data-size="32" data-radius="10" data-bar-color="st-red"></div>
        </div>
    </div>
    <div class="app" style="background-color: #fff;">
        <header class="header bg-white shadow-0">

            <div class="header-container align-center" id="header-main-group">
                <a href="#" class="nav-back">
                    <img src="assets/img/page1@2x.png"> </a>
                </a>
                <span class="fg-black txt_Menu">查看菜單</span>
                <button class="bg-white right-button" style="visibility: hidden;">
                    <span class="i-search icon fg-violet"></span>
                </button>
            </div>

        </header>
        <div class="view-content">
            <div class="container padding1">
                <div class="zoompanel">
                    <div class="checkMenu flex-box" styple="width:100%!important;">


                    </div>
                </div>
            </div>
        </div>


        <script>
            var locales = {};
            if (localStorage.locale) {
                locales = JSON.parse(localStorage.locale);
            }
            for (var text in locales) {
                $('.txt_' + text).html(locales[text]);
            }

            if (parseQueryString(location.search).lang == "en") {
                $('.txt_Menu').html("Menu");
            }

            var result = parseQueryString(document.location.href);


            var template =
                '<div class="restaurant-menu <%this.class%>"><h3><%this.name%></h3>' +
                '<%for(var i in this.withImg) {%>' +
                '   <%if(this.withImg[i].name.length > 0) {%>' +
                '            <span><strong><%this.withImg[i].name%>:</strong> <%for(var j in this.withImg[i].price) {%>' +
                '        <%this.withImg[i].price[j]%>\n' +
                '        <%}%><br>\n' +
                '        <%this.withImg[i].profile%></span>' +
                '        <%}%>' +
                '        <%}%>' +
                '       </span>' +
                '</div>';


            var menu = JSON.parse(window.localStorage.getItem('menu'));

            function generateMenu(menu) {

                if (menu.data) $(menu.data).each(function (i, o) {
                    var $item = this;
                    var html = `<div class="restaurant-menu large">`
                        + (function () {
                            var string = ``;
                            for (var i = 0; i < $item.images.length; i++) {
                                string += `<img src="${$item.images[i].image_url}">`
                            }
                            return string;
                        }()) +
                        `</div>`;
                    if (parseQueryString(location.search).images) {
                        $('.checkMenu').html("");
                        var images = JSON.parse(decodeURIComponent(parseQueryString(location.search).images));
                        html = `<div class="restaurant-menu large">`
                            + (function () {
                                var string = ``;
                                for (var i = 0; i < images.length; i++) {
                                    string += `<img src="${images[i].image_url}">`
                                }
                                return string;
                            }()) +
                            `</div>`;
                    }
                    // var html = coreTemplate(template, {
                    //     name: $item.item_title,
                    //     img: $item.images[0].image_url,
                    //     code: "",
                    //     id: $item.item_id,
                    //     noImg: "",
                    //     withImg: "",
                    //     class: 'large'
                    // });
                    $('.checkMenu').append(html);
                    // hammerIt($(".zoompanel")[0]);
                    // var pz = new Zoom($('.checkMenu')[0], { rotate: false });
                });



                $('.checkMenu').fadeIn('fast');

                // $('.checkMenu').masonry({
                //     // options
                //     itemSelector: '.restaurant-menu',
                //     columnWidth: $('.container').width() / 2 - 5,
                //     gutter: 10,
                //     fitWidth: true,
                //     initLayout: true,
                //     resize: true
                // });
                // setTimeout(function(){
                //     $(".pinch-zoom-container").css("overflow", "visible");
                // }, 1000);
            }


            jQuery(document).ready(function ($) {

                // if(menu){
                //     generateMenu(menu);
                // }

                // else{
                $.ajax({
                    url: 'https://www.gbarestaurants.com.tw/icms/api/GBapi/AppMenu',
                    type: 'POST',
                    datatype: 'json',
                    data: {
                        branch: result.branch,
                        lang: localStorage.lang
                    },
                    success: function (menu) {


                        generateMenu(menu);



                    }
                })
                // }



            });

            function hammerIt(elm) {
                // hammertime = new Hammer(elm, {});
                
                // hammertime.get('pinch').set({ enable: true });

                // hammertime.on( "pinch", function(e){
                //     // console.log( e );
                //     if (e.scale >= 1) {
                //         elm.style.transform = "scale("+e.scale+")";
                //         elm.style.transformOrigin = e.center.x+"px "+e.center.y+"px";
                //     } else {
                //         elm.style.transform = "scale(1)";
                //     }
                // });
                // hammertime.on( "pan", function(e){
                //     console.log( e );
                //     // elm.style.top = e.deltaY+'px';
                // });
            }
        </script>

    </div>
    <script>

        $('#searchButton').on('click', function () {
            var b = $(this);

            if (b.attr('id') == 'searchButton') {
                $("#header-search-group").fadeIn('fast');

                $('header .marker, header .search span').hide(100);

                $('.news-search').addClass('align-left');

                $('.search').animate({
                    width: '100%',
                    margin: 0
                }, 300);

                $(".search-in-list").focus();
            }
        });


        $('#toggleSideMenu').click(function () {
            $(this).toggleClass('transform');
            $('#header-menu-group').toggleClass('active');
        });




        $(document).bind("ajaxSend", function () {
            $('.ajax-loading').fadeIn('fast');
        }).bind("ajaxComplete", function () {
            $('.ajax-loading').fadeOut('fast');
        });

        $('.nav-back').click(function (e) {
            e.preventDefault();
            window.history.back();
        });

        jQuery(document).ready(function ($) {
            $('#header-menu-group').css({ height: window.innerHeight })
        });


        jQuery(document).ready(function ($) {
            // if(typeof pageTitle !== undefined) $('#header-main-group span.fg-black').text(pageTitle);
        })

    </script>
</body>

</html>