<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="viewport-fit=cover, user-scalable=no, initial-scale=1, minimum-scale=1, width=device-width">
    <title>GB LIFE</title>
    <link rel="stylesheet" href="vendors/coreCss/css/core-colors.min.css">
    <link rel="stylesheet" href="vendors/coreCss/css/core-icons.min.css">
    <link rel="stylesheet" href="vendors/coreCss/css/core.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="cordova.js"></script>
    <script src="vendors/jQuery/jquery-1.12.4.min.js"></script>
    <script src="assets/js/masonry.pkgd.min.js"></script>
    <script src="vendors/coreCss/js/core.min.js"></script>
    <script src="assets/js/underscore.js"></script>
    <script src="assets/js/zoom.js"></script>
    <script src="assets/js/impetus/dist/impetus.min.js"></script>
    <script src="assets/js/pinch-zoom-canvas/pinch-zoom-canvas.js"></script>
    <!-- <script src="scroller/src/Animate.js"></script>
    <script src="scroller/src/EasyScroller.js"></script>
    <script src="scroller/src/Scroller.js"></script>
    <script src="wheelzoom/wheelzoom.js"></script> -->
    <script type="text/javascript" src="assets/js/iscroll.js"></script>
    <script type="text/javascript" src="assets/js/iscroll-zoom.js"></script>
    <script src="https://hammerjs.github.io/dist/hammer.min.js"></script>
    <script src="common.js"></script>
    <script type="text/javascript" src="http://hammerjs.github.io/dist/hammer.min.js"></script>
    <script>
        var parseQueryString = function (url) {
            var urlParams = {};
            url.replace(
                new RegExp("([^?=&]+)(=([^&]*))?", "g"),
                function ($0, $1, $2, $3) {
                    urlParams[$1] = $3;
                }
            );

            return urlParams;
        },
            options = { enableHighAccuracy: true };

        function onError(error) {
            alert(error.code + error.message);
        }

    </script>
    <style>
        .restaurant-menu.large {
            overflow: auto;
        }
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125098099-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125098099-1');
    </script>
</head>

<body>
    <div class="ajax-loading" style="display: none">
        <div class="flex-center full-screen">
            <div data-role="progress" data-type="circle" data-size="32" data-radius="10" data-bar-color="st-red"></div>
        </div>
    </div>
    <div class="app" style="background-color: #fff;">
        <header class="header bg-white shadow-0">

            <div class="header-container align-center" id="header-main-group">
                <a href="#" class="nav-back">
                    <img src="assets/img/page1@2x.png"> </a>
                </a>
                <span class="fg-black txt_Menu" style="margin-right: 0px;">查看菜單</span>
                <button class="bg-white right-button" style="visibility: hidden;">
                    <span class="i-search icon fg-violet"></span>
                </button>
            </div>

        </header>
        <div class="view-content">
            <div class="container padding1">
                <div class="zoompanel" style="overflow: scroll;height: calc(100vh - 70px);">
                    <div class="checkMenu flex-box" id="zoomScroll" style="">


                    </div>
                </div>
                <iframe src="" id="iframe" style="width: 100%;height: calc(100vh - 64px);display: none;" frameborder="0" zooming="true" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div id="canvases">
                    <!-- <canvas id="menucanvas" style="display: none;"></canvas> -->
                </div>
            </div>
        </div>


        <script>
            var locales = {};
            if (localStorage.locale) {
                locales = JSON.parse(localStorage.locale);
            }
            for (var text in locales) {
                $('.txt_' + text).html(locales[text]);
            }

            if (parseQueryString(location.search).lang == "en") {
                $('.txt_Menu').html("Menu");
            }

            var result = parseQueryString(document.location.href);

            if (parseQueryString(location.search).branch && parseQueryString(location.search).nearest) {
                localStorage.lastCode = parseQueryString(location.search).branch;
            }

            var template =
                '<div class="restaurant-menu <%this.class%>"><h3><%this.name%></h3>' +
                '<%for(var i in this.withImg) {%>' +
                '   <%if(this.withImg[i].name.length > 0) {%>' +
                '            <span><strong><%this.withImg[i].name%>:</strong> <%for(var j in this.withImg[i].price) {%>' +
                '        <%this.withImg[i].price[j]%>\n' +
                '        <%}%><br>\n' +
                '        <%this.withImg[i].profile%></span>' +
                '        <%}%>' +
                '        <%}%>' +
                '       </span>' +
                '</div>';


            var menu = JSON.parse(window.localStorage.getItem('menu'));

            function generateMenu(menu) {
                console.log(menu);
                var html = `<div class="restaurant-menu large">`;
                var c_images = [];
                if (parseQueryString(location.search).images) {
                    $('.checkMenu').html("");
                    var images = JSON.parse(decodeURIComponent(parseQueryString(location.search).images));
                    html += ``
                        + (function () {
                            var string = ``;
                            for (var i = 0; i < images.length; i++) {
                                string += `<img src="${images[i].image_url}" style="width:100%;">`;
                                c_images.push(images[i].image_url);
                            }
                            return string;
                        }()) +
                        ``;
                } else if (menu.data) {
                    $(menu.data).each(function (i, o) {
                        var $item = this;
                        console.log(i);
                        if(i == 0) {
                        // if($item.item_title.indexOf("Main Menu") >= 0) {
                            html += ``
                                + (function () {
                                    var string = ``;
                                    for (var i = 0; i < $item.images.length; i++) {
                                        string += `<img src="${$item.images[i].image_url}" style="width:100%;">`;
                                        c_images.push($item.images[i].image_url);
                                    }
                                    return string;
                                }()) +
                            ``;   
                        }
                        // var html = coreTemplate(template, {
                        //     name: $item.item_title,
                        //     img: $item.images[0].image_url,
                        //     code: "",
                        //     id: $item.item_id,
                        //     noImg: "",
                        //     withImg: "",
                        //     class: 'large'
                        // });
                        // hammerIt($(".zoompanel")[0]);
                    });
                }
                html += `</div>`;
                $('.checkMenu').append(html);
                var t = $(".zoompanel");
                var hammertime = new Hammer($('.checkMenu')[0], {

                });
                hammertime.get('pinch').set({ enable: true });
                var lw = $('.checkMenu').width();
                hammertime.on('pinch', function(ev) {
                    console.log("-----------------------");
                    ev.preventDefault();
                    // if (ev.scale >= 1) {
                        // console.log(ev.scale*lw);
                        $('.checkMenu').css("width", (ev.scale*lw)+"px");
                        console.log((ev.scale*st)-ct);
                        console.log((ev.scale*sl)-cl);
                        t.scrollTop((ev.scale*st)-ct);
                        t.scrollLeft((ev.scale*sl)-cl);
                        // $('.checkMenu').css("transform", "scale("+ev.scale+")");
                        // console.log(ev.center.x+"px "+ev.center.y+"px");
                        // $('.checkMenu').css("transform-origin", ev.center.x+"px "+ev.center.y+"px");
                    // }
                });
                var ll, lt, sl, st;
                hammertime.on('pinchstart', function(ev) {
                    ev.preventDefault();
                    console.log("--------------------------");
                    lw = $('.checkMenu').width();
                    console.log(ev);
                    sl = (ev.srcEvent.layerX)+t.scrollLeft();
                    st = (ev.srcEvent.layerY)+t.scrollTop();
                    cl = (ev.center.x);
                    ct = (ev.center.y);
                });

                // $("#iframe").attr('srcdoc', html);
                // var pz = new Zoom($('.checkMenu')[0], { rotate: false });

                // $("#menucanvas").height(window.innerHeight);

                // for (var i = 0; i < c_images.length; i++) {
                // var step = 0;
                // c_images.forEach(function(c_image){
                //     step++;
                //     console.log(c_image);
                //     $("#canvases").append('<canvas id="menucanvas'+step+'" style=""></canvas>');
                //     var canvas = document.getElementById('menucanvas'+step);
                //     canvas.width = window.innerWidth-15;
                //     var img = new Image();
                //     img.onload = function () {
                //         img.width = canvas.width;
                //         img.height = img.width*img.naturalHeight/img.naturalWidth;
                //         console.log(img.height);
                //         canvas.height = img.height;
                //         var pinchzoom = new PinchZoomCanvas({
                //             canvas: canvas,
                //             path: c_image,
                //             momentum: true,
                //             zoomMax: 1.2,
                //             // doubletap: true,
                //             onZoomEnd: function (zoom, zoomed) {
                //                 console.log("---> is zoomed: %s", zoomed);
                //                 console.log("---> zoom end at %s", zoom);
                //             },
                //             onZoom: function (zoom) {
                //                 console.log("---> zoom is %s", zoom);
                //             }
                //         });
                //     };
                //     img.src = c_image;
                // });

                // var pinchzoom = new PinchZoomCanvas({
                //     canvas: document.getElementById('menucanvas'),
                //     path: c_images,
                //     momentum: true,
                //     zoomMax: 2,
                //     // doubletap: true,
                //     onZoomEnd: function (zoom, zoomed) {
                //         console.log("---> is zoomed: %s", zoomed);
                //         console.log("---> zoom end at %s", zoom);
                //     },
                //     onZoom: function (zoom) {
                //         console.log("---> zoom is %s", zoom);
                //     }
                // });

                // var canvas = document.getElementById('menucanvas');
                // var ctx = canvas.getContext("2d");
                // canvas.width = window.innerWidth-15;
                // canvas.height = window.innerHeight-80;
                // for (var i = 0; i < c_images.length; i++) {
                //     console.log(c_images[i]);
                //     var img = new Image();
                //     img.onload = function () {
                //         img.width = canvas.width;
                //         console.log(img.width);
                //         img.height = img.width*img.naturalHeight/img.naturalWidth;
                //         console.log(img.height);
                //         //draw background image
                //         ctx.drawImage(img, 0, 0, img.width, img.height);
                //         //draw a box over the top
                //         ctx.fillStyle = "rgba(255, 255, 255, 0)";
                //         ctx.fillRect(0, 0, 500, 500);
                //     };
                //     img.src = c_images[i];
                //     break;
                // }

                // var scrollerObj = new Scroller(function(left, top, zoom) {
                //     // apply coordinates/zooming
                // }, {
                //     scrollingY: false
                // });

                // var scrollerObj = new EasyScroller(canvas, {
                //     scrollingX: true,
                //     scrollingY: true,
                //     animating: true,
                //     animationDuration: 250,
                //     bouncing: false,
                //     locking: false,
                //     paging: false,
                //     snapping: false,
                //     zooming: true,
                //     minZoom: 0.5,
                //     maxZoom: 3
                // });

                // var cob = wheelzoom($('.checkMenu')[0]);
                // var myScroll = new IScroll('#zoomScroll', {
                //     zoom: true,
                //     mouseWheel: true,
                //     wheelAction: 'zoom'
                // });

                $('.checkMenu').fadeIn('fast');

                // $('.checkMenu').masonry({
                //     // options
                //     itemSelector: '.restaurant-menu',
                //     columnWidth: $('.container').width() / 2 - 5,
                //     gutter: 10,
                //     fitWidth: true,
                //     initLayout: true,
                //     resize: true
                // });
                setTimeout(function(){
                    $(".pinch-zoom-container").css("overflow", "visible");
                }, 1000);
            }


            jQuery(document).ready(function ($) {

                // if(menu){
                //     generateMenu(menu);
                // }

                // else{
                $.ajax({
                    url: 'https://www.gbarestaurants.com.tw/icms/api/GBapi/AppMenu',
                    type: 'POST',
                    datatype: 'json',
                    data: {
                        branch: result.branch,
                        lang: localStorage.lang
                    },
                    success: function (menu) {


                        generateMenu(menu);



                    }
                })
                // }



            });

            function hammerIt(elm) {
                // hammertime = new Hammer(elm, {});
                
                // hammertime.get('pinch').set({ enable: true });

                // hammertime.on( "pinch", function(e){
                //     // console.log( e );
                //     if (e.scale >= 1) {
                //         elm.style.transform = "scale("+e.scale+")";
                //         elm.style.transformOrigin = e.center.x+"px "+e.center.y+"px";
                //     } else {
                //         elm.style.transform = "scale(1)";
                //     }
                // });
                // hammertime.on( "pan", function(e){
                //     console.log( e );
                //     // elm.style.top = e.deltaY+'px';
                // });
            }
        </script>

    </div>
    <script>

        $('#searchButton').on('click', function () {
            var b = $(this);

            if (b.attr('id') == 'searchButton') {
                $("#header-search-group").fadeIn('fast');

                $('header .marker, header .search span').hide(100);

                $('.news-search').addClass('align-left');

                $('.search').animate({
                    width: '100%',
                    margin: 0
                }, 300);

                $(".search-in-list").focus();
            }
        });


        $('#toggleSideMenu').click(function () {
            $(this).toggleClass('transform');
            $('#header-menu-group').toggleClass('active');
        });




        $(document).bind("ajaxSend", function () {
            $('.ajax-loading').fadeIn('fast');
        }).bind("ajaxComplete", function () {
            $('.ajax-loading').fadeOut('fast');
        });

        $('.nav-back').click(function (e) {
            e.preventDefault();
            window.history.back();
        });

        jQuery(document).ready(function ($) {
            $('#header-menu-group').css({ height: window.innerHeight })
        });


        jQuery(document).ready(function ($) {
            // if(typeof pageTitle !== undefined) $('#header-main-group span.fg-black').text(pageTitle);
        })

    </script>
</body>

</html>