<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="viewport-fit=cover, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <title>GB LIFE</title>
    <link rel="stylesheet" href="vendors/coreCss/css/core-colors.min.css">
    <link rel="stylesheet" href="vendors/coreCss/css/core-icons.min.css">
    <link rel="stylesheet" href="vendors/coreCss/css/core.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="vendors/jQuery/jquery-1.12.4.min.js"></script>
    <script src="assets/js/masonry.pkgd.min.js"></script>
    <script src="vendors/coreCss/js/core.min.js"></script>
    <script src="cordova.js"></script>
    <script src="common.js"></script>
    <script>
        var parseQueryString = function (url) {
            var urlParams = {};
            url.replace(
                new RegExp("([^?=&]+)(=([^&]*))?", "g"),
                function ($0, $1, $2, $3) {
                    urlParams[$1] = $3;
                }
            );

            return urlParams;
        },
            options = { enableHighAccuracy: true };

        function onError(error) {
            alert(error.code + error.message);
        }

    </script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125098099-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125098099-1');
    </script>

</head>

<body>
    <div class="ajax-loading" style="display: none">
        <div class="flex-center full-screen">
            <div data-role="progress" data-type="circle" data-size="32" data-radius="10" data-bar-color="st-red"></div>
        </div>
    </div>
    <div class="app">
        <header class="header bg-white shadow-0">

            <div class="header-container align-center" id="header-main-group">
                <a href="javascript:void(0)" class="nav-back">
                    <img src="assets/img/page1@2x.png"> </a>
                </a>
                <span class="fg-black pg-title">優惠兌換</span>
                <button class="bg-white right-button" style="visibility: hidden;">
                    <span class="i-search icon fg-violet"></span>
                </button>
            </div>

        </header>
        <div class="view-content  bg-white">
            <div class="container">
                <div class="page-heading padding1" style="margin-left: 0px;margin-right: 0px;">
                    <h2>
                        <span id="name"></span>, 您好</h2>
                </div>
                <div class="masonry redeem-masonry">
                </div>
            </div>
        </div>

        <script>

            var locales = JSON.parse(localStorage.locale);
            for (var text in locales) {
                $('.txt_' + text).html(locales[text]);
            }
            var pageTitle = '優惠兌換';
            if (localStorage.lang == "en") {
                $(".pg-title").html("Award Redemption");
                $(".page-heading h2").html(`Hello, <span id="name">`+localStorage.name+`</span>`);
            }

            function loadmasonry() {
                $('.masonry').masonry({
                    // options
                    itemSelector: '.news',
                    columnWidth: $('.container').width() / 2 - 5,
                    gutter: 10,
                    fitWidth: true,
                    initLayout: true,
                    resize: true
                });
            }

            function generateNews(data) {


                var template =

                    '<div class="card news image-header">' +
                    '<a class="card-header fg-white" href="<%this.url%>">' +
                    '<img src="<%this.img%>" onload="loadmasonry()">' +
                    '</a>' +
                    '<div class="card-content">' +
                    '<p class="fg-black"><a href="<%this.url%>"><%this.title%></a></p>' +

                    '</div>' +
                    '<div class="card-footer">' +
                    '<span><%this.date%></span>' +
                    '<span><a href="#" class="clip"><img src="assets/img/newsclip@2x.png"></a></span>' +
                    '</div>' +
                    '</div>';

                data.list.sort(function (a, b) { return b.id - a.id });

                $(data.list).each(function (i, o) {


                    var options = { year: 'numeric', month: 'long', day: 'numeric' };



                    var $item = this;

                    date = new Date(this.date.replace(/\./g, '/'));

                    year = date.getFullYear();
                    month = date.getMonth() + 1;
                    day = date.getDate();

                    var localDate = year + '年' + month + '月' + day + '日';

                    var html = coreTemplate(template, {
                        url: "news-detail.html?id=" + $item.id + '&img=' + $item.img,
                        brief: $item.brief,
                        id: $item.id,
                        title: $item.title,
                        img: $item.img,
                        date: localDate // new Date($item.date).toLocaleDateString('zh-tw', options),
                    });

                    $('.news-masonry').append(html);
                });

                setTimeout(function () {
                    $('.news-masonry').animate({
                        opacity: 1
                    }, 500);
                }, 700);

            }
            $("#name").html(localStorage.name);

            jQuery(document).ready(function ($) {

                if (!window.cordova) {
                    onDeviceReady();
                }
                // navigator.geolocation.getCurrentPosition(generateRedeem);

            });

            document.addEventListener("deviceready", onDeviceReady, false);

            function onDeviceReady() {
                function afterGetPosition(location) {
                    // generateRedeem();
                    localStorage.tmpPositions = JSON.stringify({
                        coords: {
                            latitude: location.coords.latitude,
                            longitude: location.coords.longitude
                        }
                    });
                    generateRedeem(location);
                }
                if (localStorage.tmpPositions) {
                    afterGetPosition(JSON.parse(localStorage.tmpPositions));
                    navigator.geolocation.getCurrentPosition(afterGetPosition);
                } else {
                    generateRedeem({
                        coords: {
                            latitude: "25.037193",
                            longitude: "121.567131"
                        }
                    });
                }
            }
            var coupon_id = parseQueryString(location.search).coupon_id;
            function generateRedeem(location) {
                // location = {
                //     coords: {
                //         latitude: "",
                //         longitude: ""
                //     }
                // }
                console.log(location);
                $.ajax({
                    url: 'https://www.gbarestaurants.com.tw/icms/api/GBapi/AppCoupon',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        lang: localStorage.lang,
                        lat: location.coords.latitude,
                        lng: location.coords.longitude
                    },
                    success: function (res) {
                        console.log(res);
                        var string = ``;
                        for (var i = 0; i < res.data.list.length; i++) {
                            if(res.data.list[i].coupon_id == coupon_id) {
                                string += `<div>
                                    <h5><span class="redeem_line" style="word-break:keep-all;font-size:12px;">......${res.data.list[i].point}......</span></h5>` +
                                        (function () {
                                            var string = ``;
                                            for (var j = 0; j < res.data.list[i].detail.length; j++) {
                                                string += `
                                                <img src="${res.data.list[i].detail[j].image_url}">
                                                <p class="redeem_img_description" style="padding:0 20px;">${res.data.list[i].detail[j].description}</p>
                                            `;
                                            }
                                            return string;
                                        }()) + `
                                </div>`;
                            }
                        }
                        console.log(string);
                        $(".redeem-masonry").html(string);
                    }
                })
            }
        </script>

    </div>
    <script>

        $('#searchButton').on('click', function () {
            var b = $(this);

            if (b.attr('id') == 'searchButton') {
                $("#header-search-group").fadeIn('fast');

                $('header .marker, header .search span').hide(100);

                $('.news-search').addClass('align-left');

                $('.search').animate({
                    width: '100%',
                    margin: 0
                }, 300);

                $(".search-in-list").focus();
            }
        });


        $('#toggleSideMenu').click(function () {
            $(this).toggleClass('transform');
            $('#header-menu-group').toggleClass('active');
        });




        $(document).bind("ajaxSend", function () {
            $('.ajax-loading').fadeIn('fast');
        }).bind("ajaxComplete", function () {
            $('.ajax-loading').fadeOut('fast');
        });

        $('.nav-back').click(function (e) {
            e.preventDefault();
            window.history.back();
        });

        jQuery(document).ready(function ($) {
            $('#header-menu-group').css({ height: window.innerHeight })
        });


        jQuery(document).ready(function ($) {
            // if(typeof pageTitle !== undefined) $('#header-main-group span.fg-black').text(pageTitle);
        })

    </script>
</body>

</html>